@import "tailwindcss";
/* Scrollbar tối giản, hiện đại */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Bỏ nền */
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5); /* Màu xám trong suốt */
  border-radius: 9999px; /* Bo tròn tối đa */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.8); /* Đậm hơn khi hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}

/* Class tùy chỉnh */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(79, 70, 229, 0.6) transparent; /* tím nhạt */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(79, 70, 229, 0.6);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(55, 48, 163, 0.8);
}
.css-blur {
  filter: blur(4px);
}
.css-shake {
  animation: shake 0.1s infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes spin360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-360 {
  animation: spin360 2s linear infinite;
}
